@import "../../Sass/colors.scss";

.navbar-container {
    background-color: $lightgrey_coinary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    box-shadow:  0px 0px 15px $black_coinary;
}

.coinary-logo{
    height: 80%;
    margin-left: 1em;
}

.menu-logo{
    margin-right: 1em;
    font-size: 1.5em;
    transition: 0.15s all ease-in;
    &:hover{
        transform: scale(1.2);
    }
}